/* ===== Fuente ===== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* ===== Variables ===== */
:root {
	/* Colores primarios */
	--very-dark-cyan: rgb(0, 10, 10);
	--dark-cyan: rgb(0, 67, 67);
	--medium-cyan: rgb(0, 97, 97);
	--light-cyan: rgb(0, 152, 152);
	--very-light-cyan: rgb(0, 227, 227);
	--background: linear-gradient(
		to right,
		var(--dark-cyan),
		var(--medium-cyan),
		var(--very-dark-cyan)
	);

	/* Colores neutrales */
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: #e3e3e3;

	/* Tipografía */
	--font-family: 'Lato', sans-serif;

	/* Efectos */
	--transition: all 0.3s linear;
}

/* ===== Estilos generales ===== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
	scroll-behavior: smooth;
}

body {
	width: 100%;
	font-size: 1.6rem;
	background: var(--white);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* ========================= Header ========================= */
header {
	background: var(--background);
	border-bottom-left-radius: 50% 65px;
	border-bottom-right-radius: 50% 65px;
}

/* Nav */
nav {
	padding: 10px 0;
	font-size: 1.8rem;
	color: var(--white);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	background: var(--background);
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: auto;
	padding: 0 10px;
}

.logo {
	font-weight: 900;
	color: var(--white);
}

.nav-toggle {
	cursor: pointer;
	font-size: 30px;
	border-color: transparent;
	background: transparent;
	color: var(--white);
	transition: var(--transition);
}

.nav-toggle:hover {
	transform: rotate(90deg);
}

.links a {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: capitalize;
	color: var(--white);
	transition: var(--transition);
}

.links a:hover {
	color: var(--dark-cyan);
	background: var(--white);
	padding-left: 1.5rem;
}

.contact {
	display: none;
}

.links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.show-links {
	height: 12rem;
}

/* Fixed navbar */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

/* Media queries */

@media screen and (min-width: 425px) {
	nav {
		padding: 1.2rem 5%;
	}
}

@media screen and (min-width: 1090px) {
	nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 1.2rem 15%;
	}

	.nav-toggle {
		display: none;
	}

	.links {
		display: flex;
		height: auto;
	}

	.links a {
		padding: 0;
		margin: 0 1.2rem;
		transition: none;
	}

	.links a:hover {
		padding: 0;
		background: transparent;
		color: var(--white);
		filter: brightness(150%);
	}

	nav ul li a,
	nav ul li a:after,
	nav ul li a:before {
		transition: all 0.5s;
	}

	nav.stroke ul li a {
		position: relative;
	}

	nav.stroke ul li a:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '.';
		color: transparent;
		background: var(--white);
		height: 1px;
	}

	nav.stroke ul li a:hover:after {
		width: 100%;
	}

	.contact {
		display: flex;
	}

	.contact button {
		cursor: pointer;
		padding: 5px 20px;
		margin-left: 15px;
		border: 1px solid var(--white);
		border-radius: 50px;
		font-family: var(--font-family);
		font-size: 1.8rem;
		font-weight: 400;
		color: var(--dark-cyan);
		background-color: var(--white);
	}

	.contact button:hover {
		border: 1px solid var(--white);
		background: linear-gradient(
			to right,
			var(--dark-cyan),
			var(--medium-cyan),
			var(--very-dark-cyan)
		);
		color: var(--white);
	}

	.btn-contact {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mail {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		font-size: 30px;
		margin-left: 15px;
		border-radius: 50px;
		background-color: var(--dark-cyan);
		color: var(--white);
	}
}

/* hero section */
.hero-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 90px 15% 150px 15%;
	color: var(--white);
}

.hero-text {
	text-align: center;
	margin-bottom: 40px;
}

.hero-text h1 {
	margin-bottom: 10px;
	font-size: calc(2.52rem + 3.9vw);
	font-weight: 700;
}

.hero-text p {
	margin-top: 20px;
	font-size: calc(1.6rem + 0.5vw);
	font-weight: 300;
	line-height: 2.5rem;
}

.img-hero {
	width: 115%;
	padding: 5px;
	background: transparent;
}

/* Media queries */
@media screen and (min-width: 1090px) {
	.hero-section {
		flex-direction: row;
		padding: 90px 15% 150px 15%;
	}

	.hero-text {
		text-align: left;
		margin-bottom: 0;
		margin-right: 15px;
	}

	.hero-text p {
		font-size: calc(1.6rem + 1vw);
		line-height: 3.2rem;
	}

	.img-hero {
		width: 50%;
		margin-left: 15px;
	}
}

@media screen and (min-width: 950px) {
	.hero-text .contact {
		margin-top: 30px;
	}

	.hero-text .btn-contact {
		margin-left: 0;
		font-size: 2rem;
		font-weight: 700;
	}

	.arrow {
		font-size: 4rem;
		margin-left: 10px;
	}
}

/* ===== MERN Stack ===== */
.mern-stack {
	margin-top: 60px;
}

.mern-stack-title {
	padding-bottom: 20px;
	text-align: center;
	font-size: calc(2rem + 2vw);
	font-weight: 700;
	color: var(--dark-cyan);
}

.mern-stack-logos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px 15%;
	background: rgba(0, 227, 227, 0.1);
}

.box-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mern-stack-logos img {
	width: 80px;
}

.mern-stack-logos p {
	font-size: 18px;
	font-weight: 500;
	color: var(--dark-cyan);
}

@media screen and (max-width: 1090px) {
	.mern-stack-logos {
		padding: 10px 10%;
	}
}

@media screen and (max-width: 400px) {
	.mern-stack-logos {
		padding: 10px 20%;
	}
}

/* ==================== Main ==================== */
/* ===== Sobre mi ===== */
.sobre-mi {
	margin-top: 60px;
	margin-bottom: 60px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 60px 10%;
}

.sobre-mi h2 {
	padding: 0px 0px 10px 0px;
	text-align: center;
	font-weight: 700;
	font-size: calc(2.52rem + 3.9vw);
	text-transform: capitalize;
	color: var(--dark-cyan);
}

.sobre-mi h3 {
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-weight: 700;
	font-size: calc(2.5rem + 0.8vw);
	text-transform: capitalize;
	color: var(--medium-cyan);
}

.sobre-mi p {
	width: 100%;
	padding: 15px 0;
	font-weight: 300;
	font-size: calc(1.6rem + 0.5vw);
	color: var(--very-dark-cyan);
}

.sobre-mi strong {
	color: var(--dark-cyan);
}

/* Media queries */
@media screen and (min-width: 1090px) {
	.sobre-mi {
		padding: 60px 0;
	}

	.sobre-mi__contenido {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0px 15%;
	}

	.sobre-mi h3 {
		width: 50%;
		padding-right: 10px;
		text-align: left;
	}

	.sobre-mi__parrafos {
		width: 50%;
		padding-left: 25px;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}

	.sobre-mi p {
		font-size: calc(1.6rem + 0.2vw);
	}
}

/* ========== Proyectos ========== */
.proyectos {
	background: var(--background);
	border-top-left-radius: 50% 65px;
	border-top-right-radius: 50% 65px;
	border-bottom-left-radius: 50% 65px;
	border-bottom-right-radius: 50% 65px;
	padding-bottom: 120px;
}

.proyectos h2 {
	padding: 50px 0px 30px 0px;
	text-align: center;
	font-weight: 700;
	font-size: calc(2.52rem + 3.9vw);
	text-transform: capitalize;
	color: var(--white);
}

.proyectos-contenido {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: 270px;
	padding: 10px;
	margin-left: 15%;
	margin-right: 15%;
	border: 2px solid var(--white);
	border-radius: 10px;
}

.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 270px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.box img {
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
}

.box .info {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: all 500ms ease-out;
	background: rgba(0, 67, 67, 0.8);
	opacity: 0;
	visibility: hidden;
}

.box:hover > .info {
	opacity: 1;
	visibility: visible;
}

.box:hover > img {
	transform: scale(1.2);
}

.info h3 {
	text-align: center;
	padding: 20px;
	font-size: 25px;
	text-transform: uppercase;
	color: var(--white);
}

.modal-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 5px 20px;
	border: 1px solid var(--white);
	border-radius: 50px;
	font-family: var(--font-family);
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--dark-cyan);
	background-color: var(--white);
}

.modal-btn:hover {
	border: 1px solid var(--white);
	background: linear-gradient(
		to right,
		var(--dark-cyan),
		var(--medium-cyan),
		var(--very-dark-cyan)
	);
	color: var(--white);
}

/* Modal */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(109, 167, 167, 0.9);
	display: grid;
	place-items: center;
	transition: var(--transition);
	visibility: hidden;
	z-index: -10;
}

.modal-content {
	background: var(--very-light-gray);
	width: 50vw;
	padding: 20px;
	margin: 2%;
	border-radius: 10px;
}

@media screen and (max-width: 800px) {
	.modal-content {
		width: 80vw;
	}
}

@media screen and (max-width: 500px) {
	.modal-content {
		margin: 0;
		width: 100vw;
	}
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.modal-header .btn-close {
	font-size: 5rem;
	padding: 5px;
	border: none;
	background: transparent;
	color: var(--dark-cyan);
}

.modal-header .btn-close:hover {
	background: transparent;
}

.modal-content h3 {
	font-size: 2.5rem;
	color: var(--very-dark-cyan);
}

.modal-content h4 {
	padding-bottom: 5px;
	color: var(--dark-cyan);
}

.modal-content h5 {
	padding-bottom: 10px;
	color: var(--very-dark-cyan);
}

.modal-content p {
	padding-bottom: 10px;
	font-weight: 300;
	color: var(--grayish-blue);
}

.btns {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.btns button {
	margin-right: 10px;
}

.btn-close {
	cursor: pointer;
	outline: none;
	font-family: var(--font-family);
	font-size: 2rem;
	font-weight: 700;
	padding: 10px;
	border: 2px solid var(--very-dark-cyan);
	border-radius: 5px;
	color: var(--white);
	background: var(--very-dark-cyan);
}

.btn-close:hover {
	background: var(--white);
	color: var(--very-dark-cyan);
}

.open-modal {
	visibility: visible;
	z-index: 11;
}

/* Media queries */
@media screen and (max-width: 540px) {
	.proyectos-contenido {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 435px) {
	.proyectos-contenido {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-rows: 190px;
	}

	.box {
		height: 100%;
	}
}

/* ========== Contacto ========== */
.contacto {
	background: var(--background);
	border-top-left-radius: 50% 65px;
	border-top-right-radius: 50% 65px;
	border-bottom-left-radius: 50% 65px;
	border-bottom-right-radius: 50% 65px;
	padding-bottom: 120px;
	margin-top: 20px;
}

.contacto h2 {
	padding: 50px 0px 30px 0px;
	text-align: center;
	font-weight: 700;
	font-size: calc(2.52rem + 3.9vw);
	text-transform: capitalize;
	color: var(--white);
}

.contacto-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	margin-left: 15%;
	margin-right: 15%;
	background: #fff;
	border-radius: 5px;
}

.contacto-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 50px;
	font-weight: 300;
	color: var(--dark-cyan);
	background: rgba(0, 97, 97, 0.1);
}

.contacto-text p {
	line-height: 30px;
	font-size: calc(1.6rem + 0.5vw);
	padding: 10px 0 10px 0;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 15px 10px;
}

.contact-entrada {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	font-family: var(--font-family);
	font-size: calc(1.6rem + 0.2vw);
	font-weight: 300;
	color: var(--dark-cyan);
	box-sizing: border-box;
}

.contact-entrada label {
	margin-bottom: 8px;
}

.contact-entrada input,
.contact-entrada textarea {
	padding: 8px 10px;
	border-radius: 3px;
	border: 2px solid var(--white);
	outline: none;
	font-size: calc(1.6rem + 0.2vw);
	color: var(--very-dark-cyan);
}

textarea {
	resize: vertical;
}

.contact-entrada input:focus,
.contact-entrada textarea:focus {
	border: 2px solid var(--medium-cyan);
}

.contact-entrada input::placeholder,
.contact-entrada textarea::placeholder {
	color: var(--grayish-blue);
}

.submit-btn {
	cursor: pointer;
	outline: none;
	font-family: var(--font-family);
	font-size: 2rem;
	font-weight: 500;
	padding: 8px 12px;
	border: 2px solid var(--dark-cyan);
	border-radius: 5px;
	color: var(--white);
	background: var(--dark-cyan);
}

.submit-btn:hover {
	filter: brightness(1.5);
}

#mailto {
	opacity: 0;
}

@media screen and (min-width: 1440px) {
	.contacto-content {
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	}
}

@media screen and (max-width: 540px) {
	.contacto-content {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 390px) {
	.contacto-content {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

/* ==================== Footer ==================== */
/* Social media */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.social-media {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 15px 0px 15px 0px;
	font-size: 3rem;
	font-weight: 700;
	background: rgba(0, 227, 227, 0.1);
	color: var(--dark-cyan);
}

.social-media a {
	text-decoration: none;
	color: var(--dark-cyan);
}

.social-media-icons a {
	padding: 0px 5px;
}

.social-media-icons a:hover {
	filter: brightness(1.5);
}

@media screen and (max-width: 425px) {
	.social-media {
		flex-direction: column;
	}
}

/* coded by */
.coded-by {
	margin-top: 40px;
	padding: 20px;
	border-top: 2px solid var(--dark-cyan);
	text-align: center;
	color: var(--grayish-blue);
}

.coded-by a {
	color: var(--dark-cyan);
}

/* final footer */
.final-footer {
	display: block;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	border-top-left-radius: 50% 65px;
	border-top-right-radius: 50% 65px;
	background: var(--background);
	margin-bottom: none;
}

/* =============================================================== */
/* Parrafos de relleno */
.parrafos {
	width: 100%;
	padding: 0 15%;
	background: var(--white);
}

.parrafos p {
	margin-top: 25px;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
	color: var(--grayish-blue);
}
